<div class="continent-container">
    <!-- Continent cards -->
    <article
      class="continent-card"
      *ngFor="let continent of configuredContinents; let i = index"
      [ngStyle]="{
        'top': continent.positionY + 'px',
        'left': continent.positionX + 'px'
      }"
    >
      <header class="continent-stats">
        <h2 [ngStyle]="{'color': continent.color}">
          {{ continent.name }} : <strong>{{ continent.medal.totalMedals }}</strong>
        </h2>
        <ul class="medals-container">
          <li
            class="medals-item-list gold-medals"
            [ngStyle]="{'color': continent.medal.gold.medalColor}"
          >
            {{ continent.medal.gold.medalNumberPerGrade }}
          </li>
          <li
            class="medals-item-list silver-medals"
            [ngStyle]="{'color': continent.medal.silver.medalColor}"
          >
            {{ continent.medal.silver.medalNumberPerGrade }}
          </li>
          <li
            class="medals-item-list bronze-medals"
            [ngStyle]="{'color': continent.medal.bronze.medalColor}"
          >
            {{ continent.medal.bronze.medalNumberPerGrade }}
          </li>
        </ul>
      </header>
    </article>
  
    <!-- Rings -->
    <div
      *ngFor="let continent of configuredContinents; let i = index"
      class="ring"
      [ngStyle]="{
        'top': continent.positionY + 'px',
        'left': continent.positionX + 'px',
        'border-color': continent.color,
        'border-width': continent.ringBorderSize + 'px'
      }"
    ></div>
</div>