<div class="continent-container" *ngFor="let continent of configuredContinents">
    <div class="continent-stats">
        <h2 [ngStyle]="{'color': continent.color}">{{continent.name}} : {{continent.medal.totalMedals}}</h2>
        <div class="medals-container">
            <div class="gold-medals">
                <span><div class="gold-badge" [ngStyle]="{'background-color': continent.medal.gold.medalColor}"></div></span> <h3>{{continent.medal.gold.medalNumberPerGrade}}</h3>
            </div>

            <div class="silver-medals">
                <span><div class="silver-badge" [ngStyle]="{'background-color': continent.medal.silver.medalColor}"></div></span> <h3>{{continent.medal.silver.medalNumberPerGrade}}</h3>
            </div>

            <div class="bronze-medals">
                <span><div class="bronze-badge" [ngStyle]="{'background-color': continent.medal.bronze.medalColor}"></div></span> <h3>{{continent.medal.bronze.medalNumberPerGrade}}</h3>
            </div>
        </div>
    </div>
    <div class="ring" [ngStyle]="{'border-color': continent.color, 'border-width': continent.ringBorderSize + 'px'}"></div>
</div>